@mixin FlexElement($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ForBlocks ($justify) {
  display: flex;
  justify-content: $justify;
}

body {
  display: flex;
}

.blockCode {
  background: #000;
  width: 620px;
  height: 100vh;
  &_logoBlock {
    display: flex;
    align-items: center;
    width: 620px;
    height: 80px;
    position: fixed;
    &_textsLogo {
      width: 198px;
      height: 50px;
      &_titleText {
        color: #FFF;
        font-family: "Overpass Mono";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &_nameText {
        color: #FFF;
        font-family: "Overpass Mono";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &_programmingLanguageBlock {
    // Тут ваш scss код
  }
}

.blockResult {
  width: 100%;
  height: 100vh;
}