.blockCode {
    width: 620px;
    height: 100vh;
    background: #000;
    overflow-y: scroll;
    &_logoBlock {
        position: fixed;
        width: 605px;
        height: 70px;
        background: rgba(0, 255, 0, 0.129);
        &_logo {
            display: flex;
            &_texts {
                height: 50px;
                margin-top: 10px;
                &_titleText {
                    color: #FFF;
                    font-family: "Overpass Mono";
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                &_nameText {
                    color: #FFF;
                    font-family: "Overpass Mono";
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;           
                }
            }
        }
    }
}