@mixin FlexElement($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ForBlocks ($justify) {
  display: flex;
  justify-content: $justify;
}

.blockCode {
  background: #000;
  width: 620px;
  height: 100vh;
  &_logoBlock {
    display: flex;
    align-items: center;
    width: 620px;
    height: 80px;
    background: rgba(0, 255, 0, 0.061);
    position: fixed;
    &_textsLogo {
      width: 196px;
      height: 43px;
      background: violet;
    }
  }
}